# Compiled source #
###################
Debug/

# Libs #
###################
lib/

# Project files #
###################
.settings/
.cproject
.project

# Ogre resources #
###################
*.dll
*.exe
*.cfg
*.log