# Compiled source #
###################
Debug/
build/

# Libs #
###################
lib/

# Project files #
###################
.settings/
.cproject
.project

# Ogre resources #
###################
*.dll
*.exe
*.cfg
*.log

# CMAKE #
#########
CMakeFiles/
cmake_install.cmake
CMakeLists.txt
